{% extends "well_of_maxwell/base.html" %}

{% block content %}
<div> 
    <a href="{% url 'edit-home' %}" class="btn btn-warning">Edit Home</a>        
    <a href="{% url 'edit-exp1' %}" class="btn btn-warning">Edit Exp1</a>        
    <a href="{% url 'edit-exp2' %}" class="btn btn-warning">Edit Exp2</a>        
</div>
<div>Add and Delete Questions</div>
<div>
    <b>Add a Question: </b>
    <form action ="{% url 'add-quiz'%}"  method = "POST" enctype="multipart/form-data">
        <table>
            {{form}}
        </table>
        <!--<button type="submit" class="btn btn-success">Submit</button> -->
        <button type="submit" class ="btn btn-success">Submit</button>
        {% csrf_token %}
    </form>
</div>
<div class = "row">
    {% for curr_quiz in quizzes %}
        <div>Question {{curr_quiz.number}}:</div>
        <div id = "quiz_{{curr_quiz.number}}" class="alert alert-primary" role="alert">{{curr_quiz.question}}
            {% for curr_answer in answers %}
                {% if curr_answer.quiz_block.id == curr_quiz.id %}
                    {% if curr_answer.text == curr_quiz.correct %}
                        <div></div>
                        <button id = "correct" type="button" class="btn btn-success col-sm-3">{{curr_answer.text}}</button>
                    {% else %}
                        <div></div>
                        <button id = "incorrect" type="button" class="btn btn-danger col-sm-3">{{curr_answer.text}}</button>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}